[tool.poetry]
name = "mapsims"
version = "2.4.dev"
description = "Map based simulations package for Cosmic Microwave Background experiments"
authors = ["Andrea Zonca <code@andreazonca.com>"]
readme = "README.md"
repository = "https://github.com/simonsobs/mapsims"

[tool.poetry.scripts]
mapsims_run = 'mapsims.runner:command_line_script'

[tool.poetry.dependencies]
python = "^3.6"
toml = "^0.10.1"
pyyaml = "^5"
pixell = "^0.10.3"
healpy = "^1.14.0"
numpy = "^1.18.0"
astropy = "^4"
so_noise_models = {url = "https://github.com/zonca/so_noise_models/archive/3.1.1.tar.gz"}
so-pysm-models = {url = "https://github.com/simonsobs/so_pysm_models/archive/master.zip"}
pysm3 = "^3.2.2"
pytest = {version = "^5.4.3", optional = true}
pytest-astropy = {version = "^0.8.0", optional = true}
mpi4py = {version = "^3.0.3", optional = true}
nbval = {version = "^0.9.6", optional = true}
jupyter_client = {version = "^6.1.7", optional = true}
ipykernel = {version = "^5.3.4", optional = true}
nbformat = {version = "^5.0.7", optional = true}

[tool.poetry.extras]
test = ["pytest", "pytest-astropy", "mpi4py", "jupyter_client", "nbformat", "ipykernel", "nbval"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

