wheel
pysm3
astropy>=3.2.1
numpy
toml
h5py
pixell>=0.9.5
git+git://github.com/simonsobs/so_noise_models.git@1ef1236134fe9d275761454e406834bebc6d7646
https://github.com/simonsobs/so_pysm_models/archive/master.zip
pyyaml
mpi4py
