pysm3
astropy>=3.2.1
numpy
toml
h5py
so_pysm_models
https://github.com/simonsobs/so_pysm_models/archive/master.zip
https://github.com/simonsobs/so_noise_models/archive/master.zip
pixell>=0.9.5
pyyaml
